#map {
  width: 55%;
  height: 930px;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.viewer {
  display: flex;
  flex-direction: column;
  width: 45%;
  min-width: 700px;
  text-align: center;
  align-items: center;
}

.viewer h2 {
  height: 20px;
}

.viewer .video-container {
  width: 100%;
}

.play-button {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  height: 40px;
  background-color:#44c767;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #18ab29;
  padding-left: 24px;
  padding-right: 24px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  outline: none;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
